<form method="POST" action="/new">
  <label for="user">
    <span>User:</span>
  </label>
  <input type="text" id="user" name="user" required />

  <label for="text">
    <span>Text:</span>
  </label>
  <input type="text" id="text" name="text" required />

  <button type="submit">Post</button>
</form>
